<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <!-- carousel cu poze -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2500">
                <img src="myApp/img/kawi-ft.webp" class="d-block w-100" alt="missing">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="myApp/img/kawasaki-ninja-h2r-0-10wh2-1727942245_500x500.webp" class="d-block w-100"
                    alt="missing">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="myApp/img/kawasaki-ninja-h2r-0-1semz-1727942244_500x500.webp" class="d-block w-100"
                    alt="missing">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Subtitlu -->
    <div class="text-center">
        <h1 class="display-2">
            <strong>- - Descriere - -</strong>
        </h1>
    </div>

    <!-- Descrierea insine -->
    <div class="container my-4">
        <p>Modelul <strong>Ninja H2R 2025</strong> impinge limitele performantei si ale
            ingineriei in domeniu. Aceasta motocicleta Kawasaki nu este destinat utilizarii pe strada. Un Hypersport
            care impune respect si atrage atentia celor mai pasionati si priceputi rideri si raceri.
        </p>
        <p>
            <br>Caracteristici tehnice:
        </p>
        <ul>
            <li>motor supraalimentat 998 cc, racit cu lichid, 4 timpi, 4 cilindri in linie, DOHC, 16 valve
            </li>
            <li>pornire electrica
            </li>
            <li>cutie 6 viteze
            </li>
            <li>frana fata 2 discuri semiflotante Brembo, 330 mm, etrier radial Brembo, Stylema monobloc, 4 pistoane
                opuse
            </li>
            <li>frana spate 1 disc 250 mm, etrier Brembo, 2 pistoane opuse
            </li>
            <li>suspensie fata furca inversa 43 mm, ajustabila
            </li>
            <li>suspensie spate Uni-Trak, Öhlins TTX36 amortizor pe gaz cu rezervor piggyback, ajustabil
            </li>
            <li>cadru Trellis, otel de inalta rezistenta
            </li>
            <li>9-Mode KTRC (Kawasaki TRaction Control)
            </li>
            <li>ABS (Anti-lock Brake System)
            </li>
            <li>indicator de riding economic
            </li>
            <li>sistem Ergo-Fit
            </li>
            <li>IMU - Inertial Measurement Unit
            </li>
            <li>KLCM (Kawasaki Launch Control Mode)
            </li>
            <li>KCMF (Kawasaki Cornering Management Function)
            </li>
            <li>KEBC - Kawasaki Engine Brake Control
            </li>
            <li>KQS - Kawasaki Quick Shifter
            </li>
            <li>KIBS (Kawasaki Intelligent anti-lock Brake System).
            </li>
        </ul>
        <p>
        </p>
        <p> <strong>Puterea afisata este puterea constructiva declarata de Producator si poate
                diferi de cea omologabila, dezvoltata de vehicul ca urmare a limitarii puterii din fabrica, in vederea
                respectarii reglementarilor in domeniu.</strong>
        </p>
    </div>

</body>

</html>